root = .

filter = src/*
filter = include/*

exclude-directories = build
exclude-directories = build/*/*/_deps
exclude-directories = test
exclude-directories = fuzz_test

gcov-ignore-parse-errors = all
print-summary = yes

# Local development settings (CI will override these)
html-details = ./coverage/index.html

cobertura-pretty = yes
cobertura = ./coverage.xml
